<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

</head>
<body>


<div class='container'>
    <h1>List of Question:-</h1>
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><h3><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></h3></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>
</body>
</html>